/poi-service-app/target
/poi-service-app/.settings
/poi-service-app/.classpath
/poi-service-app/.factorypath
/poi-service-app/.apt_generated
/poi-service-api/.settings
/poi-service-api/target
/poi-service-api/.classpath
